<!DOCTYPE html>
<html>
<head>
    <title>Shawn Cramp | Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <%- include('templates/header'); %>

</body>
</html>
