<header>

    <div class="logo">
        <div class="upper_parallelogram"></div>
        <div class="lower_parallelogram"></div>
    </div>

    <nav>
        <a href="">About Me</a>
        <a href="">Projects</a>
        <a href="">Hobbies</a>
        <a href="">Contact</a>
    </nav>

    <h1><span>Shawn Cramp</span></h1>

</header>