header
  height: 600px
  background: url('../images/index_background.jpg') center center
  background-size: cover

  .logo
    float: left
    margin: 10px 0 0 30px
    color: black

  nav

    a
      display: inline-block
      margin-left: 20px

      color: rgba(0,0,0,0.7)
      font:
        size: 14px
        weight: 700
      text-transform: uppercase

      &:hover
        color: rgba(0,0,0,1)



